{# {% block button %}
	<button type="{{ type|default('button') }}" {{ attributes.defaults({ class: 'btn' } ) }}>
		{% if icon is defined %}
			<span class="btn-icon left">
				<img src="{{ icon }}" class="btn-icon-img" alt="{{ icon_alt|default('') }}">
			</span>
		{% endif %}

		{{ label }}
	</button>
{% endblock %} #}


{% block button %}
	<button type="{{ type|default('button') }}" {{ attributes.defaults({ class: 'btn' } ) }}>
		{% block content %}{% endblock %}
	</button>
{% endblock %}
